*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --edit: rgb(1, 191, 1);
    --delete: rgb(205, 1, 1);
    --mainclr: #dde1e7;
    --morph: -3px -3px 7px 0px #ffffff73, 3px 3px 5px 0px rgba(94, 104, 121, .288);
    --morph-inset: inset -3px -3px 7px 0px #ffffff73, inset 3px 3px 5px 0px rgba(94, 104, 121, .288);
}

body{
    background: var(--mainclr) !important;
    font-family: sans-serif;
}

header{
    background-color: rgb(24, 135, 135);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

header h1{
    text-align: center;
    font-family: sans-serif;
}

.budget-expense{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    margin-left: 40px;
    margin-right: 40px;
}
.budget{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    background: var(--mainclr);
    box-shadow: var(--morph);
}
.budget h3{
    font-size: 25px;
    background: linear-gradient(to right, #10d7b6, #147adf);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.budget #total_amount{
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    background: var(--mainclr);
    box-shadow: var(--morph-inset);
}
.btn{
    margin-top: 30px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    background: linear-gradient(to right, #10d7b6, #147adf);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: var(--morph);
}
.btn:active{
    box-shadow: var(--morph-inset);
}

.expenses input{
    background: var(--mainclr);
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: var(--morph-inset);
}

.report-container{
    margin-top: 2rem;
    margin-left: 40px;
    margin-right: 40px;
}
.report{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--mainclr);
    box-shadow: var(--morph);
    border-radius: 5px;
    width: 870px;
    height: 90px;
    margin-left: 165px;
    text-align: center;
    /* margin-right: 40px; */
}
.report h4{
    background: linear-gradient(to right, #10d7b6, #147adf);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
.amnt{
    padding-top: 7px;
}

.expense_container{
    margin-top: 2rem;
    margin-left: 205px;
    width: 870px;
    background: var(--mainclr);
    box-shadow: var(--morph);
    border-radius: 5px;
    padding: 20px
    /* margin-right: 40px; */
}
.expense_container h3{
    background: linear-gradient(to right, #10d7b6, #147adf);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.expense_container .expense_list{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.expense_container h4{
    border-left: 4px solid #10d7b6;
    padding-left: 15px;
}
.expense_container hr{
    width: 700px;
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid #10d7b6; */
}
.expense_container .edit{
    margin-right: 10px;
    color: var(--edit);
    cursor: pointer;
}
.expense_container .trash{
    color: var(--delete);
    cursor: pointer;
}
.expense_container .expense{
    align-items: center;
}